# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
venv*/
.venv*/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# models, data
models/
data/*.csv
data/*.parquet

# IDEs
.vscode/
.idea/

# mac / windows
.DS_Store
Thumbs.db

# logs
*.log

# secrets
.env
secrets.toml
